In [13]:
#Cheet Sheet:
#https://drive.google.com/file/d/1UHK8wtWbADvHKXFC937IS6MTnlSZC_zB/view
#More Examples:
#https://www.geeksforgeeks.org/pandas-tutorial/

import pandas as pd

my_series = pd.Series([4.6, 3.1, -4.0, 3.0])
print(my_series)
print(my_series.values)
print()

city_population = {'New York City': ('NY', 8177025, 8190209,-0.0016,27222,300.381),
                  'Los Angeles': ('CA',3985516,3795512,0.0501,8499,468.956),
                  'Chicago': ('IL',2671635,2697477,-0.0096,11750,227.369),
                  'Houston': ('TX',2325353,2100280,0.1072,3632,640.194),
                  'Phoenix' :('AZ',1759943,1449038,0.2146,3400,517.673)}
dataframe = pd.DataFrame(city_population)
print(dataframe)
print()
city_population = {'name': ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
                  'usps': ['NY', 'CA', 'IL', 'TX', 'AZ'],
                  'pop2022': [8177025, 3985516, 2671635, 2325353, 1759943],
                  'pop2010': [8190209, 3795512, 2697477, 2100280, 1449038]}

dataframe = pd.DataFrame(city_population, columns=['name', 'usps', 'pop2022', 'pop2010'])
print(dataframe)
print()

print(dataframe.head(3))
print()
print(dataframe.tail(2))
print()
print(dataframe['name'])
print()
print(dataframe.pop2022 > 8170000)
print()

#/content/sample_data/csvData1.csv

dataframe = pd.read_csv("/content/sample_data/csvData1.csv")
print(dataframe.head(20))
print()

0    4.6
1    3.1
2   -4.0
3    3.0
dtype: float64
[ 4.6  3.1 -4.   3. ]

  New York City Los Angeles  Chicago  Houston  Phoenix
0            NY          CA       IL       TX       AZ
1       8177025     3985516  2671635  2325353  1759943
2       8190209     3795512  2697477  2100280  1449038
3       -0.0016      0.0501  -0.0096   0.1072   0.2146
4         27222        8499    11750     3632     3400
5       300.381     468.956  227.369  640.194  517.673

            name usps  pop2022  pop2010
0  New York City   NY  8177025  8190209
1    Los Angeles   CA  3985516  3795512
2        Chicago   IL  2671635  2697477
3        Houston   TX  2325353  2100280
4        Phoenix   AZ  1759943  1449038

            name usps  pop2022  pop2010
0  New York City   NY  8177025  8190209
1    Los Angeles   CA  3985516  3795512
2        Chicago   IL  2671635  2697477

      name usps  pop2022  pop2010
3  Houston   TX  2325353  2100280
4  Phoenix   AZ  1759943  1449038

0    New York City
1      Los Angeles
2          Chicago
3          Houston
4          Phoenix
Name: name, dtype: object

0     True
1    False
2    False
3    False
4    False
Name: pop2022, dtype: bool

    rank           name usps  pop2022  pop2010  growth  density  aland_sqmi
0      1  New York City   NY  8177025  8190209 -0.0016    27222     300.381
1      2    Los Angeles   CA  3985516  3795512  0.0501     8499     468.956
2      3        Chicago   IL  2671635  2697477 -0.0096    11750     227.369
3      4        Houston   TX  2325353  2100280  0.1072     3632     640.194
4      5        Phoenix   AZ  1759943  1449038  0.2146     3400     517.673
5      6    San Antonio   TX  1598964  1332299  0.2002     3296     485.113
6      7   Philadelphia   PA  1585480  1528283  0.0374    11807     134.279
7      8      San Diego   CA  1429653  1305906  0.0948     4387     325.877
8      9         Dallas   TX  1348886  1200350  0.1237     3970     339.736
9     10         Austin   TX  1028225   806164  0.2755     3214     319.939
10    11       San Jose   CA  1003120   954940  0.0505     5642     177.808
11    12     Fort Worth   TX   958692   748441  0.2809     2774     345.584
12    13   Jacksonville   FL   938717   823114  0.1404     1256     747.467
13    14      Charlotte   NC   925290   738444  0.2530     3012     307.238
14    15       Columbus   OH   921605   790943  0.1652     4204     219.197
15    16   Indianapolis   IN   892656   821579  0.0865     2469     361.571
16    17  San Francisco   CA   884108   805505  0.0976    18850      46.903
17    18        Seattle   WA   787995   610630  0.2905     9396      83.862
18    19         Denver   CO   760049   603359  0.2597     4958     153.292
19    20     Washington   DC   718355   605226  0.1869    11750      61.136