# **Tuple_Slice**

In [1]:
tuple1 = (12, 32.3, 65, 2, 43, 86) #Created a tuple
print(tuple1)
print(tuple1[1:5]) #prints the 2nd element - 5th element
print(tuple1[:4]) #prints the 1st element - 4th element
print(tuple1[2:]) #prints the 3rd element - to the last element
print(tuple1[:]) #prints all the elements
print(tuple1[: : 2]) #prints 1st element - last element with a step of 2

(12, 32.3, 65, 2, 43, 86)
(32.3, 65, 2, 43)
(12, 32.3, 65, 2)
(65, 2, 43, 86)
(12, 32.3, 65, 2, 43, 86)
(12, 65, 43)

# **tuples_Demo**

In [2]:
#Reverse the tuple list
tuple1 = (10, 30, 50, 70, 90)

tuple1 = tuple1[: : -1]
print(tuple1)

(90, 70, 50, 30, 10)

In [3]:
#Print the value 50 from the tuple
tuple1 = ([10, 20, 30, 40, 50], (60, 70, 80, 90), "Bob", "Tina", "Sam")

print(tuple1[0][4])

50

In [4]:
#Unpack the tuple into 5 different variables
tuple1 = (10, 30, 50, 70, 90)
value1 = tuple1[0]
value2 = tuple1[1]
value3 = tuple1[2]
value4 = tuple1[3]
value5 = tuple1[4]

print(value1)
print(value2)
print(value3)
print(value4)
print(value5)

10
30
50
70
90

In [5]:
#Sort the tuple by the 2nd element of the tuple
tuple1 = (('Bob', 27),('Tina', 17),('Sam', 34), ('Chris', 22))

temp = []

newTuple = ()

for n, t in tuple1:
  temp.append(t)

temp.sort()

for i in temp:
  for x,y in tuple1:
    if i == y:
      newTuple += (x,y)

print(newTuple)

('Tina', 17, 'Chris', 22, 'Bob', 27, 'Sam', 34)

# **Tuples_ListConvert**

In [6]:
list1 = [12, 32.3, 65, 2, 43] #Created a List
tuple1 = tuple(list1) #Convert list into a tuple built-in function
print(tuple1, type(tuple1)) #Print tuple
print()#Prints a blank line
tuple2 = tuple(i for i in list1) #Using a for loop to populate tuple
print(tuple2) #Print tuple
print()#Prints a blank line
tuple3 = (*list1, type(tuple1)) #Unpack list items to uild a tuple
print(tuple3)

(12, 32.3, 65, 2, 43) <class 'tuple'>

(12, 32.3, 65, 2, 43)

(12, 32.3, 65, 2, 43, <class 'tuple'>)